<section class="background-1 d-flex justify-content-center align-items-center p-100">
		<div class="padding-75 container d-flex justify-content-center align-items-center">
			<div class="col-750 col-md-3 d-flex justify-content-start align-items-end">
				<img src="images/about-us-2.jpg" alt="" class="margin-left-120">
			</div>
			<div class="col-750 col-md-6 d-flex justify-content-center align-items-center">
				<!--about us-->
				<div class="frame d-flex justify-content-center align-items-center p-3">
					<div class="dbl-border text-white p-2 d-flex justify-content-center align-items-center flex-column">
						<h3 class="m-3">About Us</h3>
						<img src="images/border-2.png" alt="" class="m-3">
						<p class="m-3 fs-6 white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusantium 
							assumenda sed quibusdam saepe praesentium maxime consectetur odio! Corporis 
							nisi in similique molestias! Nam rem, natus in harum facilis iure officiis 
							nobis perferendis error corporis, neque autem quam. Neque, tempora ipsa 
							quam aliquam corrupti ut, tempore cum harum, vel illum voluptates sit 
							laudantium facere dicta animi autem dignissimos explicabo modi?
						</p>
						<div class="d-flex justify-content-center align-items-center m-3">
							<img src="images/signature-2.png" alt="">
							<p><strong>Harry Price</strong><br/>Restaurant Owners</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-750 col-md-3 d-flex justify-content-start align-items-baseline">
				<img src="images/about-us-1.jpg" alt="" class="margin-left-negative">
			</div>
		</div>
	</section>