<section class="m-5 px-5">
	<div class="text-center pt-5">
		<h2>Latest news</h2>
		<h3 class="txt-blue">~ Great articles ~</h3>
	</div>
	<div class="row py-5 px-2">
		<div class="col-md-6 px-4">
			<div class="card border-none-radius text-right">
				<div class="card-img-overlay d-flex justify-content-end align-items-start me-3">
					<div class="bg-dark d-flex gird">
						<div class="dbl-border-2 text-white text-center p-2">
							<p class="h1 px-2 my-0">20</p>
							<p class="h4 px-2 my-0">JUNE</p>
						</div>
					</div>
				</div>
				<img src="{{ asset('images/blog-standard-1.jpg') }}" class="card-img-top card border-none-radius" alt="...">
			</div>
			<div class="my-4">
				<h4 class="card-title py-3">On the other hand</h4>
				<p class="card-text lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					Suscipit, recusandae molestiae ipsam quod beatae praesentium tempore fugit, 
					iusto odit maxime saepe, natus corrupti. Sit nulla laboriosam architecto, 
					sint reprehenderit numquam.</p>
				<a href="" class="card-button">Read more</a>
			</div>
		</div>
		<div class="col-md-6 px-5">
			<div class="card border-none-radius mb-3">
				<div class="row g-0">
					<div class="col-md-5">
						<img src="{{ asset('images/blog-standard-2.jpg') }}" class="card border-none-radius img-fluid img-card rounded-start" alt="...">
						<div class="card-img-overlay-2 d-flex me-3">
							<div class="bg-dark d-flex gird">
								<div class="dbl-border-2 text-white text-center p-2">
									<p class="h2 px-2 my-0">17</p>
									<p class="h5 px-2 my-0">JUNE</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 py-4">
						<div class="card-body">
							<h5 class="card-title">Contrary to popular</h5>
							<p class="card-text lh-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum modi 
								commodi unde.
							</p>
							<a href="" class="card-button">Read more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-none-radius mb-3">
				<div class="row g-0">
					<div class="col-md-5">
						<img src="{{ asset('images/blog-standard-3.jpg') }}" class="card border-none-radius img-fluid img-card rounded-start" alt="...">
						<div class="card-img-overlay-2 d-flex me-3">
							<div class="bg-dark d-flex gird">
								<div class="dbl-border-2 text-white text-center p-2">
									<p class="h2 px-2 my-0">24</p>
									<p class="h5 px-2 my-0">JUNE</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 py-4">
						<div class="card-body">
							<h5 class="card-title">Et harum quidem rerum</h5>
							<p class="card-text lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facere, fuga iure 
								voluptates atque ratione. Cum.
							</p>
							<a href="" class="card-button">Read more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-none-radius mb-3">
				<div class="row g-0">
					<div class="col-md-5">
						<img src="{{ asset('images/blog-standard-4.jpg') }}" class="card border-none-radius img-fluid img-card rounded-start" alt="...">
						<div class="card-img-overlay-2 d-flex me-3">
							<div class="bg-dark d-flex gird">
								<div class="dbl-border-2 text-white text-center p-2">
									<p class="h2 px-2 my-0">12</p>
									<p class="h5 px-2 my-0">JUNE</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 py-4">
						<div class="card-body">
							<h5 class="card-title">Nor again is there</h5>
							<p class="card-text lh-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor repellendus 
								sint iure laboriosam quas.
							</p>
							<a href="" class="card-button">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
