<section class="m-5 px-5">
	<div class="text-center pt-5">
		<h2>Latest news</h2>
		<h3 class="txt-blue">~ Great articles ~</h3>
	</div>
	<div class="row py-5 px-2">
		<div class="col-md-6">
			<div class="card text-right">
                <div class="d-flex justify-content-center align-items-center" id="box-date">
                    <div class="bg-dark d-flex gird">
                        <div class="dbl-border-2 text-white p-2">
                            <p>date</p>
                        </div>
                    </div>
                </div>
				<img src="{{ asset('images/blog-standard-1.jpg') }}" class="card-img-top" alt="...">
                <div class="my-4">
					<h4 class="card-title">On the other hand</h4>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit, recusandae molestiae ipsam quod beatae praesentium tempore fugit, 
                        iusto odit maxime saepe, natus corrupti. Sit nulla laboriosam architecto, 
                        sint reprehenderit numquam.</p>
					<a href="#" class="card-link card-button">Read more</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="..." class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
