<section class="section-img-2 p-100 background-2">
		<div class="text-white">
			<h2>Specialities of the day</h2>
			<h3 class="txt-blue">~ Delicious foods ~</h3>
		</div>
		{# cards in foreach with 8 last menu #}
		<div id="carouselHome" class="carousel slide">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				{# {% for item in items %} #}
				<div class="carousel-item active">
					{# 4 cards #}
					<div class="card" style="width: 18rem;">
  						<img src="..." class="card-img-top" alt="...">
 						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
							<img src="{{ asset('images/rating.png') }}" class="w-50 my-3" alt="...">
    						<p class="card-text">$price</p>
  						</div>
					</div>
				</div>
				{# {% endfor %} #}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>