/***STYLE***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Satisfy&display=swap');
/* couleurs */
:root {
    --bs-white: #fafafa;
    --bs-white-tr: #908C8C;
    --bs-blue-light: #9fc9dd;
    --bs-dark: #282525;
    --bs-grey: #212529;
    --bs-red: #ac4039;
    --bs-gold: #cdaa7c;
    --bs-font-body:"Raleway", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
    --bs-font-title: "Raleway";
    --bs-font-decor: "Satisfy", Roboto, Arial;
}
.grey {
    color: var(--bs-grey);
}
.white-tr {
    color: var(--bs-white-tr);
}
.white {
    color: var(--bs-white);
}
/*fonts*/
h1 {
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 600;
}
h2 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
}
h3 {
    font-family: var(--bs-font-decor);
    font-size: 35px;
}
h4 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
h5 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
h6 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: var(--bs-dark);
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: var(--bs-dark);
}
a {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
.f-70 {
    font-size: 70px;
}
.txt-grey {
    color: var(--bs-white-tr);
}
.txt-dark {
    color: var(--bs-dark);
}
.sub-title {
    font-size: 53px;
    letter-spacing: 1px;
}
.txt-white {
    color: var(--bs-white);
}
.txt-blue {
    color: var(--bs-blue-light);
}
.txt-gold {
    color: var(--bs-gold);
}
/* background */
.bg-grey {
    background-color: var(--bs-grey);
}
.bg-gold {
    background-color: var(--bs-gold);
}
.frame {
    background-color:var(--bs-dark);
    z-index: 100;
}
.dbl-border {
    background-color: var(--bs-dark);
    height: 500px;
    width: 500px;
    border: solid var(--bs-white) 1px;
}
.bg-quote {
    background-image: url("/images/quotation.png");
    opacity: 0.8;
    background-repeat: no-repeat;
}
.background-1 {
    background-image: url("/images/about-us-bg.png");
    background-color: 0, 0, 0, 0.5;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-2 {
    background-image: url("/images/special-bg.jpg");
    background-color: var(--bs-dark);
    overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-3 {
    background-image: url("/images/our-menu-bg-5.jpg");
    background-color: black;
    overflow: hidden;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-4 {
    background-image: url("/images/opening-bg.png");
    overflow: hidden;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-5 {
    background-image: url("/images/page-info-bg-3.jpg");
    overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-6 {
    background-image: url("/images/page-info-bg-1.jpg");
    overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.background-7 {
    background-image: url("/images/page-info-bg-4.jpg");
    overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
/* images */
.img-min {
    width: 25px;
    object-fit: fill;
}
.img-small {
    width: 60px;
    object-fit: fill;
}
.img-gallery {
    width: 100%;
    height: auto;
}
.img-md {
    width: 100px;
    object-fit: fill;
}
/* links */
.nav-item a:hover {
    color: var(--bs-blue-light);
}
.nav-link:focus, 
.nav-link:hover {
    color: var(--bs-blue-light);
}
.btn-nav {
    border-radius: 0;
    border: solid 1px;
    border-color: var(--bs-blue-light);
    color: var(--bs-blue-light);
}
.btn-page {
    border-radius: 1rem;
    background-color: var(--bs-dark);
    text-transform: uppercase;
    margin: 50px 20px;
    padding: 5px 10px;
}
.btn-search {
   border-radius: 0rem 0.4rem 0.4rem 0rem; 
}
/* content */
.col-750 {
    height: 750px;
}
.p-50 {
    padding: 0 50px;
}
.p-100 {
    padding: 100px 0;
}
.p-200 {
    padding: 200px;
}
.m-10 {
    margin: 10rem;
}
.margin-left-120 {
    margin-left: 120px;
}
.margin-left-negative {
    margin-left: -100px;
}
.padding-75 {
    padding: 75px 0;
}
.column {
    flex-direction: column;
}
.content {
    box-sizing: border-box;
    margin: 200px;
    max-width: 100%;
}
.padding-title {
    padding-top: 200px;
    padding-bottom: 100px;
}
/* decoration */
.txt-deco {
    font-size: 30px;
    padding: 3px;
    border-top: solid var(--bs-white) 3px;
    border-bottom: solid var(--bs-white) 3px;
    line-height: 1em;
    margin: 0 20px;
}
.border-none-radius {
    border: 0;
    border-radius: 0 !important;
}
.dbl-border-2 {
    background-color: transparent;
    border: solid var(--bs-white) 1px;
    margin: 5px;
}
.encart {
    padding: 75px 20px 100px 450px;
}
.square {
    margin: 50px 30px;
}
.border-grey {
    border-top: solid 1px var(--bs-white-tr);
}  
.dots-div .dots {
    height: 10px;
    border-bottom: 1px dotted var(--bs-grey);
    flex-grow: 1;
  }
.dots-div p {
    margin: 0;
    padding: 0;
    position: relative; 
    z-index: 1;
  } 
/* cards */
.card-button {
    color: var(--bs-dark);
    text-decoration: underline;
}
.card-button:hover,
.card-button:focus {
    color: var(--bs-blue-light);
}
.card-img-overlay {
    z-index: 1;
}
.card-img-overlay-2 {
    position: absolute; 
    top: 10px;
    left: 240px;
}
.img-card {
    width: auto;
    height: 100%;
    object-fit: cover;
}
/* forms */
.form-email {
    border-radius: 2rem;
    border-color: var(--bs-white-tr);
    background-color: var(--bs-grey);
}
.form-email::placeholder {
    color: var(--bs-white-tr);
    padding-left: 15px;
}
.btn-email {
    border-radius: 2rem;
    border-color: var(--bs-white-tr);
    background-color: var(--bs-grey);
}
/***MEDIA QUERIES***/
/* Petits appareils */
@media screen and (max-width:576px) {

}
/* Téléphones */
@media screen and (min-width:577px) and (max-width:768px) {

}
/* Tablettes */
@media screen and (min-width:769px) and (max-width:992px) {
 
}
/* Ordinateurs */
@media screen and (min-width:993px) and (max-width:1200px) {
 
}
/* Ecrans larges */
@media screen and (min-width:1201px) and (max-width:1400px) {

}
/* Ecrans très grands */
@media screen and (min-width:1401px) {
 
}