{% extends 'base.html.twig' %}

{% block title %}Edit article{% endblock %}

{% block body %}
    <h1>Edit article</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog') }}">Back to the list</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
